<% if @spectrum_counter != spectrum_range.low %>
	<% bandWidth=(spectrum_range.low-@spectrum_counter).ceil %>
	<div class="empty-range" style="background-color:gray; width:<%= bandWidth %>px;"></div>
	<% @spectrum_labels[@spectrum_counter] = bandWidth %>
	<% @spectrum_counter = spectrum_range.low %>
<% end %>

<% bandWidth = spectrum_range.width/@range_width.to_f * 950 %>
<% if spectrum_range.share > 1 %>
	<%	bandLeft = -bandWidth %>
<% else %>
	<%	bandLeft = 0 %>
<% end %>
<% bandHeight = 100 / spectrum_range.share %>
<div class="range" style="background-color:<%= spectrum_range.issue.color %>; left: <%=bandLeft%>px; width:<%= bandWidth %>px; height: <%= bandHeight %>px;" data-id="<%=spectrum_range.issue.id %>" data-name="<%=spectrum_range.issue.name %>" data-description="<%=spectrum_range.issue.description %>" data-agencies="<%= issue_agency_actions_path(spectrum_range.issue.id, format: :json) %>">
	<%= spectrum_range.name %>
</div>
<% @spectrum_counter = spectrum_range.high %>
<% @spectrum_labels[@spectrum_counter] = bandWidth+16 %>
