<div class="range" style="background-color:<%= spectrum_range.issue.color %>; height: <%= bandHeight %>px;" data-id="<%=spectrum_range.issue.id %>" data-name="<%=spectrum_range.issue.name %>" data-description="<%=spectrum_range.issue.description %>" data-agencies="<%= issue_agency_actions_path(spectrum_range.issue.id, format: :json) %>">
	<p class="text-center"><%= spectrum_range.name %></p>
</div>
