<!DOCTYPE html>
<html>
<head>
  <title>Spectrum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
	<div class="row-fluid">
		Tristan T. Hardy 2013 <%= link_to "http://www.linkedin.com/pub/tristan-hardy/8/3b0/217" do %>
			<%= image_tag "linkedin.png" %>
		<% end %>
	</div>
</body>
</html>
